@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif ;
}

.modal-scroll {
  scrollbar-width: auto;
}

@media (min-width: 1024px) {
  .modal-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .modal-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
